# Игнорирование файлов специфичных для IDE
# .vscode/

# Игнорируются все файлы и каталоги Thumbs.db
Thumbs.db

# Игнорируются все файлы и каталоги .DS_Store
.DS_Store

# Игнорируется каталог tmp
tmp/

# Игнорируются все файлы с суффиксом в расширении _backup 
*_backup

# Игнорируются все файлы с суффиксом в расширении _old 
*_old
